
<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Portfolio</h1>
    <p><strong> Name:</strong> {{ user_object.first_name }} {{ user_object.last_name }}</p>


    <h2>Transactions</h2>
    <table>
        <tr>
            <th>Coin</th>
            <th>Quantity</th>
            <th>Currency</th>
            <th>Total Amount</th>
            <th>Current Price</th>
        </tr>
        {% for transaction in transaction_obj %}
        <tr>
            <td>{{ transaction.coin }}</td>
            <td>{{ transaction.quantity }}</td>
            <td>{{ transaction.currency }}</td>
            <td>{{ transaction.total_spent }} {{ transaction.type }} </td>
            <td>{{ c_price }}  </td>
        </tr>
        {% endfor %}
    </table>

    <h3>Total Balance: {{ total }}</h3>

    <h3>You invested: {{ buy }} </h3>
    <h3>You gained: {{ sell }} </h3>

    <footer>
        <a href="/">Back to Home Page</a>
    </footer>
</body>
</html>
