.navbar-nav li {
    font-size: 12px;
    padding-bottom: 0;
    cursor: pointer;
}

.navbar {
    border-bottom: 0.5px solid #bbccdd;
}

.a-tag {
    color: #4ac1f7;
}


.btn-outline-primary {
    border-color: #3861fb;
    color: #3861fb;
    font-size: 12px;
    font-family: "Helvetica Neue", sans-serif;
    margin-right: 10px;
    border-radius: 10px;
}

.btn-primary {
    border-color: #3861fb;
    font-size: 12px;
    font-family: "Helvetica Neue", sans-serif;
    border-radius: 10px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: baseline;
    width: 100%;
    border-bottom: 0.5px solid #bbccdd;
    color: #0D1421;
    letter-spacing: 0.5px;
    font-weight: normal;

}

.top-bar-left {
    display: flex;
    width: 58%;
    justify-content: space-between; /* This will add space between child elements */
    font-size: 15px;
    align-items: center;
}


.top-bar-right {
    display: flex;
    width: 58%;
    font-size: 15px;
    align-items: center;
    justify-content: flex-end;
}

.top-bar-right div {
    cursor: pointer;
}

.top-bar-left-hero {
    font-weight: bolder;
    font-size: 18px;
}

.top-bar-left span {
    cursor: pointer;
}

.my-footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.top-bar-right span {
    cursor: pointer;

}

.footer-container {
    height: 600px;
    background-color: red;
}

.dropdown:focus {
    outline: none;
}

.footer-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-ul li {
    line-height: 35px;
    position: relative;
    color: #0D1421;
    font-size: 15px;
    box-sizing: border-box;
}
