/* Style for the login form container */
.form-container {
    width: 500px;
    margin: auto;
    padding: 15px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style for the form labels */
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style for the input fields */
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.button {
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

/* Style for the "Register" link */
.register-link {
    text-align: center;
    margin-top: 10px;
}

.error-message {
    color: red;
    list-style: none;
    padding: 0;
    /*margin-top: -20px;*/
}

.login-form {
    width: 100%;
    padding: 5px 40px 5px 40px;
}
