/*.form-container {*/
/*    background: white;*/
/*    width: 500px;*/
/*    margin: 3% auto auto;*/
/*    padding: 15px 10px 10px 10px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 10px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
body {
    margin: 0;
    padding: 0;
    background: url('../images/cryptocurrencyBg.jpg') center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha value to control the background opacity */
    /*background-color: white;*/
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    /*text-align: center;*/
}

.register-form {
    margin-top: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-group input:focus {
    border: 1px solid #ccc;
}

.login-link {
    text-align: center;
    margin-top: 10px;
}

.errorlist {
    color: red;
    list-style: none;
    padding: 0;
    margin-top: -10px;
}

.register-form {
    width: 100%;
    padding: 5px 40px 5px 40px;
}

.button {
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

/*.input_type_file {*/
/*    display: inline-block;*/
/*    padding: 6px 12px;*/
/*    cursor: pointer;*/
/*    border: 1px solid #ccc;*/
/*    background-color: #f8f8f8;*/
/*    border-radius: 4px;*/
/*}*/

/*!* Style for the container *!*/
/*.file-input-container {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    display: inline-block;*/
/*}*/

/*!* Style for the label that acts as a button *!*/
/*.custom-file-upload {*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    cursor: pointer;*/
/*    border: 1px solid #ccc;*/
/*    color: #000;*/
/*    background-color: #fff;*/
/*    border-radius: 5px;*/
/*}*/

/*!* Style for the actual file input *!*/
/*input[type="file"] {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    font-size: 100px; !* Increase font size to hide default button in some browsers *!*/
/*    opacity: 0;*/
/*    cursor: pointer;*/
/*}*/
