{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to CryptoNexa!{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% csrf_token %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="{% static 'js/buysell.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="navbar-nav">
                    <a class="nav-link" href="#">Cryptos:</a>
                </li>
                <li class="navbar-nav">
                    <span class="nav-link">Exchanges:</span>
                </li>
                <li class="navbar-nav">
                    <span class="nav-link">Market Cap:</span>
                </li>
                <li class="navbar-nav">
                    <span class="nav-link">24h Vol:</span>
                </li>
                <li class="navbar-nav">
                    <span class="nav-link">Dominance</span>
                </li>
                <li class="navbar-nav">
                    <span class="nav-link">Eth Gas:</span>
                </li>
            </ul>
            <a href="{% url 'currency_exchange' %}" id="openModal">
                <button type="button" class="btn btn-outline-primary">{{ request.session.currency }}</button>
            </a>
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-secondary" type="button" id="profileDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false"
                            style="background-color: #f8f8f8; border:none">
                        <img style="width: 30px; height: 30px; border-radius: 50%;"
                             src="{% static 'images/profile.jpg' %}" alt="Profile image">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <a href="{% url 'core:profile' user.id %}" style="text-decoration: none; color: #333">
                            <li style="padding: 10px">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/profile.jpg' %}" alt="User Profile Image"
                                         class="rounded-circle" style="width: 40px; height: 40px;">
                                    <div class="ms-3">
                                        <p class="fw-bold mb-0">{{ user.first_name }} {{ user.last_name }}</p>
                                        <p class="text-muted mb-0">{{ user.email }}</p>
                                    </div>
                                </div>
                            </li>
                        </a>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Watchlist</a></li>
                        <li><a class="dropdown-item" href="#">Portfolio</a></li>
                        <li><a class="dropdown-item" href="{% url 'support:list_issues' %}">Support Issues</a></li>
                        <li><a class="dropdown-item" href="{% url 'core:payment_history' %}">Payment History</a></li>
                        <li><a class="dropdown-item" href="{% url 'core:logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'core:login' %}" style="margin-right: 10px">
                    <button type="button" class="btn btn-outline-dark">Log In</button>
                </a>
                <a href="{% url 'core:register' %}">
                    <button type="button" class="btn btn-dark">Sign Up</button>
                </a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="top-bar">
    <div class="top-bar-left me-auto mb-2 mb-lg-0" style="width: 70%">
        <div class="top-bar-left-hero"><span><a href="{% url 'index' %}" class="text-decoration-none text-dark">CrytoNexa</a></span></div>
        <div><span>Cryptocurrencies</span></div>
        <div><span>Exchanges</span></div>
        <div><span>Community</span></div>
        <div><span>Products</span></div>
        <div><span><a href ="{% url 'core:currency_converter' %}" class="text-decoration-none text-dark">Converter</a></span></div>
        <div><span>Learn</span></div>
        <div><span><a href ="news/" class="text-decoration-none text-dark">Newsletter</a></span></div>
        <div><span><a href ="{% url 'support:issue_creation' %}" class="text-decoration-none text-dark">Support</a></span></div>
    </div>
    <div class="top-bar-right" style="width: 30%">
        <div><span>Portfolio</span></div>
    </div>
</div>
<div id="content">
    {% block content %}
        <!-- Specific page content goes here -->
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% block currencypopup %}
    {% endblock %}
</div>
{% include 'CryptoNexa/footer.html' %}
</body>
</html>