{% block cryptoListView %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price USD</th>
                <th>1h%</th>
                <th>24h%</th>
                <th>MarketCap</th>
                <th>Volume (24h)</th>
            </tr>
            </thead>
            <tbody> {% for crypto in cryptos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ crypto.name }}</td>
                    <td>${{ crypto.quote.data.USD.price }}</td>
                    <td class="{% if crypto.quote.data.USD.percent_change_1h < 0 %}text-danger{% elif crypto.quote.data.USD.percent_change_1h > 0 %}text-success{% else %}text-muted{% endif %}">
                        {{ crypto.quote.data.USD.percent_change_1h }}
                    </td>
                    <td class="{% if crypto.quote.data.USD.percent_change_24h < 0 %}text-danger{% elif crypto.quote.data.USD.percent_change_24h > 0 %}text-success{% else %}text-muted{% endif %}">
                        {{ crypto.quote.data.USD.percent_change_24h }}
                    </td>
                    <td>${{ crypto.quote.data.USD.market_cap }}</td>
                    <td>${{ crypto.quote.data.USD.volume_24h }}</td>
                </tr> {% endfor %}
            </tbody>
        </table>
    </div> {% endblock %}