{% block cryptoListView %}
    <style>
        body {
            font-family: 'Roboto', sans-serif; /* Change 'Roboto' to your preferred font family */
            color: #333333; /* Font color: Dark gray */
        }

        i {
            font-weight: normal;
        }

        .fixed-table {
            width: 100%;
            height: 400px;
            overflow-y: auto;
        }

        .fixed-table td,
        .fixed-table th {
            font-weight: normal;
            font-style: normal;
            width: 150px;
            height: 50px;
            padding: 10px;
        }

        .filter-button {
            float: right;
            display: inline-block;
            padding: 8px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            border: 2px solid #007bff;
            color: #007bff;
            border-radius: 5px;
            transition: all 0.3s ease;
        }

        .btn-outline-primary:hover {
            background-color: #007bff;
            color: #fff;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <div class="container">
        <a href="{% url 'filter_crypto_data' %}" id="openModal" class="button-link">
            <button type="button" id="filter-button" class="btn btn-outline-primary">Filter</button>
        </a>
        {% if error_message %}
            <h1>{{ error_message }}</h1>
        {% else %}
            <table class="table table-striped fixed-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th><i class="currency-icon"></i> Price {{ session_cur }}</th>
                    <th>1h%</th>
                    <th>24h%</th>
                    <th><i class="currency-icon"></i> MarketCap</th>
                    <th><i class="currency-icon"></i> Volume (24h)</th>
                </tr>
                </thead>
                <tbody id="crypto-table-body">
                {% for crypto in cryptos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'core:crypto_detail' crypto.slug %}">{{ crypto.name }}</a></td>
                        <td>
                            <div id="price-{{ crypto.id }}"><i class="currency-icon"> {{ crypto.price }}</i></div>
                        </td>
                        <td id="change-1h-{{ crypto.id }}"
                            class="{% if crypto.percent_change_1h < 0 %}text-danger{% elif crypto.percent_change_1h > 0 %}text-success{% else %}text-muted{% endif %}">
                            {{ crypto.percent_change_1h }}
                        </td>
                        <td id="change-24h-{{ crypto.id }}"
                            class="{% if crypto.percent_change_24h < 0 %}text-danger{% elif crypto.percent_change_24h > 0 %}text-success{% else %}text-muted{% endif %}">
                            {{ crypto.percent_change_24h }}
                        </td>
                        <td id="market-cap-{{ crypto.id }}"><i class="currency-icon"> {{ crypto.market_cap }}</i></td>
                        <td id="volume-24h-{{ crypto.id }}"><i class="currency-icon"> {{ crypto.volume_24h }}</i></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    {% if not error_message and update_values %}
        <script>
            const currencyIcons = {
                'USD': 'fas fa-dollar-sign',
                'AUD': 'fas fa-dollar-sign',
                'CAD': 'fas fa-dollar-sign',
                'CNY': 'fas fa-yen-sign',
                'EUR': 'fas fa-euro-sign',
                'INR': 'fas fa-rupee-sign',
                'JPY': 'fas fa-yen-sign',
                'KWD': 'fas fa-money-bill-wave',
                'NZD': 'fas fa-dollar-sign',
                'PKR': 'fas fa-rupee-sign',
                'RUB': 'fas fa-ruble-sign',
                'AED': 'fas fa-money-bill-wave'
            };

            function updateCurrencyIcon(currencyCode) {
                const iconClass = currencyIcons[currencyCode];
                if (iconClass) {
                    const currencyElements = document.querySelectorAll('.currency-icon');
                    currencyElements.forEach(element => {
                        element.className = `currency-icon ${iconClass}`;
                    });
                }
            }

            updateCurrencyIcon('{{ session_cur }}');

            function updateCryptoData() {
                fetch('{% url 'core:get_updated_crypto_data' fetch_live_data=0 %}')
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(crypto => {
                            const cryptoId = crypto.id;
                            {#document.getElementById(`price-${cryptoId}`).innerText = ` ${crypto.price}`;#}
                            document.getElementById(`price-${cryptoId}`).querySelector('.currency-icon').innerText = ` ${crypto.price}`;
                            document.getElementById(`change-1h-${cryptoId}`).innerText = crypto.percent_change_1h;
                            document.getElementById(`change-24h-${cryptoId}`).innerText = crypto.percent_change_24h;
                            document.getElementById(`market-cap-${cryptoId}`).querySelector('.currency-icon').innerText = ` ${crypto.market_cap}`;
                            document.getElementById(`volume-24h-${cryptoId}`).querySelector('.currency-icon').innerText = ` ${crypto.volume_24h}`;
                            document.getElementById(`change-1h-${cryptoId}`).classList = calculateChangeClass(crypto.percent_change_1h);
                            document.getElementById(`change-24h-${cryptoId}`).classList = calculateChangeClass(crypto.percent_change_24h);
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching crypto data:', error);
                    });
            }

            function calculateChangeClass(change) {
                if (change < 0) {
                    return 'text-danger';
                } else if (change > 0) {
                    return 'text-success';
                } else {
                    return 'text-muted';
                }
            }

            setInterval(updateCryptoData, 2000);
            updateCryptoData();

        </script>
    {% endif %}
{% endblock %}
