{% extends 'CryptoNexa/base.html' %}
{% load static %}

{% block content %}
    <link href="{% static 'css/crypto_detail.css' %}" rel="stylesheet">
    <div class="container mt-5">

        {% if cryptocurrency %}
            <div class="row mt-4">

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body" style="display: flex; flex-direction: column;">
                            <div style="display: flex; align-items: center;">
                                <img src="{{ cryptocurrency.logo }}" alt="{{ cryptocurrency.name }} Logo"
                                     style="width: 50px; height: 50px; margin-right: 10px;"/>
                                <h2>{{ cryptocurrency.name }}</h2>
                            </div>
                            <br />
                            <p>{{ cryptocurrency.description }}</p>
                            <a href="{{ cryptocurrency.website }}" target="_blank">Visit Website</a>
                        </div>
                    </div>
                    <div class="mt-3">
                        <a href="{% url 'buysell' slug=cryptocurrency.slug name=cryptocurrency.name price=cryptocurrency.price %}"
                           class="btn btn-add-transaction">Add Transaction</a>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="text-center">Quote Information</h4>
                                    <br />
                                    <br />
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <td><strong>Price {{ session_cur }}:</strong></td>
                                            <td><i class="currency-icon"></i><span class="price-class"> {{ cryptocurrency.price }}</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>24h Volume:</strong></td>
                                            <td><i class="currency-icon"></i><span class="price-class"> {{ cryptocurrency.volume_24h }}</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>24h Volume Change:</strong></td>
                                            <td>{{ cryptocurrency.volume_change_24h }}%</td>
                                        </tr>
                                        <tr>
                                            <td><strong>1h Change:</strong></td>
                                            <td>{{ cryptocurrency.percent_change_1h }}%</td>
                                        </tr>
                                        <tr>
                                            <td><strong>24h Change:</strong></td>
                                            <td>{{ cryptocurrency.percent_change_24h }}%</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="text-center">Details</h4>
                                    <br />
                                    <br />
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr>
                                            <td><strong>Number of Market Pairs:</strong></td>
                                            <td>{{ cryptocurrency.num_market_pairs }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Circulating Supply:</strong></td>
                                            <td>{{ cryptocurrency.circulating_supply }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Total Supply:</strong></td>
                                            <td>{{ cryptocurrency.total_supply }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Max Supply:</strong></td>
                                            <td>{{ cryptocurrency.max_supply }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Infinite Supply:</strong></td>
                                            <td>{{ cryptocurrency.infinite_supply }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% else %}
            <div class="alert alert-danger mt-3">
                Cryptocurrency not found
            </div>
        {% endif %}
    </div>

    <script>
        // Your existing JavaScript for updating currency icons can remain unchanged
        const currencyIcons = {
            'USD': 'fas fa-dollar-sign',
            'AUD': 'fas fa-dollar-sign',
            'CAD': 'fas fa-dollar-sign',
            'CNY': 'fas fa-yen-sign',
            'EUR': 'fas fa-euro-sign',
            'INR': 'fas fa-rupee-sign',
            'JPY': 'fas fa-yen-sign',
            'KWD': 'fas fa-money-bill-wave',
            'NZD': 'fas fa-dollar-sign',
            'PKR': 'fas fa-rupee-sign',
            'RUB': 'fas fa-ruble-sign',
            'AED': 'fas fa-money-bill-wave'
        };

        function updateCurrencyIcon(currencyCode) {
            const iconClass = currencyIcons[currencyCode];
            if (iconClass) {
                const currencyElements = document.querySelectorAll('.currency-icon');
                currencyElements.forEach(element => {
                    element.className = `currency-icon ${iconClass}`;
                });
            }
        }

        updateCurrencyIcon('{{ session_cur }}');
    </script>
{% endblock %}
